.grid {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-areas: 
      "header-blog-m header-blog-m"
      "sidebar-blog-m conteudo-blog-m"
      "footer-blob-m footer-blob-m";
}

.header-blog-m {
  grid-area: header-blog-m;
}

.sidebar-blog-m {
 grid-area: sidebar-blog-m;
}

.conteudo-blog-m {
  grid-area: conteudo-blog-m;
}

.footer-blog-m {
  grid-area: footer-blob-m;
}